<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css" >
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body class="background">
  <div>
    <h1><div id="tiTle">게시판 만들러 드가는 게시판</div></h1>
    <div id="app">
       <p><input style="color: white;" type="file" v-on:change="loadData">
      <button v-on:click="saveBoardList">게시판 저장하기</button></p>

      <my-board-list v-if="listOk" v-bind:object="dataArray['board']" 
      v-on:board-read="boardRead"
       v-on:board-write="boardWrite" 
       v-on:board-delete="boardDelete"></my-board-list>

      <my-board-read v-if="readOk" v-bind:object="boardInfo" v-on:board-list="boardList"></my-board-read>
   
      <transition>
      <my-board-write v-if="writeOk" v-on:board-list="boardList" v-on:board-save="boardSave"></my-board-write>
 
    </div>
  </div>

    <script>
      var MyBoardList = {
        props:["object"],
        template:`<div><table id="list">  
                    <thead>
                     <tr>
                       <th style="width:50px">글번호</th> 
                       <th>글제목</th> 
                       <th style="width:50px">조회수</th> 
                       <th style="width:70px"></th> 
                     </tr> 
                     </thead> 
                    
                    <transition-group tag="tbody" name="table-row">                      
                      <tr v-for="item in object" v-bind:key="item.no">  
                        <td style="text-align:center; font-weight:bold">{{item.no}}</td> 
                        <td v-on:click="boardRead(item)">{{item.title}}</td> 
                        <td style="text-align:center">{{item.view}}</td> 
                        <td><button v-on:click="boardDelete(item.no)">삭제</button></td>
                      </tr>                     
                    </transition-group>
                    
                       
                    
                  </table>
          <p><button v-on:click="boardWrite" style="float: right;">글쓰기</button></p></div>`,
        methods:{
          boardRead:function(info){
            this.$emit('board-read', info);
          },
          boardWrite:function(){
            this.$emit('board-write');
          },
          boardDelete:function(no){
            this.$emit('board-delete', no);
          }
        }
      };

      var MyBoardRead = {
        props:["object"],
        template:`<div>
          <table id="list"> 
                    <tr> 
                       <td style="width:50px">글제목</td> 
                       <td>{{object.title}}</td> 
                    </tr> 
                    <tr style="height:300px"> 
                       <td colspan="2" >{{object.content}}</td> 
                    </tr> 
                 </table> 
            <button v-on:click="boardList" style="float:right;">목록</button>
            </div>`,
        methods:{
          boardList:function(){
            this.$emit('board-list');
          }
        }
      };

      var MyBoardWrite = {
        props:["object"],
        template:`<div>
          <table id="list">
            <tr>
              <td>글제목</td>
              <td><input type="text" v-model="title" style="width:90%"></td>
            </tr>
            <tr>
              <td colspan="2"><textarea v-model="content" style="width:100%"></textarea></td>
            </tr>
          </table>
          <button v-on:click="boardList" style="float:right;">목록</button>
          <button v-on:click="boardSave" style="float:right;">저장</button>
          </div>`,
        methods:{
          boardList:function(){
            this.$emit('board-list');
          },
          boardSave:function(){
            this.$emit('board-save', this.title, this.content);
          }
        },
        data:function(){
          return{
            title:"",
            content:""
          }
        }
      };

  new Vue({
    el:'#app',
    data:{
      dataArray:[],
      listOk:false,
      readOk:false,
      writeOk:false,
      boardInfo:{}
    },
    components:{
      'my-board-list':MyBoardList,
      'my-board-read':MyBoardRead,
      'my-board-write':MyBoardWrite,
    },
    methods:{
      loadData : function(e){
        file=e.target.files[0];
        if(file){
          var reader = new FileReader();
          var vm = this;
          reader.readAsText(file);
          reader.onload=function(e){
            vm.dataArray=JSON.parse(e.target.result);
          };
          reader.onloadend = function(e){
            if(vm.dataArray != null && vm.dataArray['board'].length>0){
              vm.listOk = true;
            }
            else vm.listOk = false;
          }
        }
      },
      boardRead:function(info){
        this.listOk = false;
        this.readOk = true;
        this.boardInfo = info;
        //해당글을 찾아서 조회수 올려주기
        for(var i=0; i< this.dataArray['board'].length; i++){
          if(this.dataArray['board'][i].no == info.no) this.dataArray['board'][i].view = 
          parseInt(this.dataArray['board'][i].view) +1;
        }
      },
      boardList:function(){
        this.readOk=false;
        this.writeOk=false;
        this.listOk=true;
      },
      boardWrite:function(){
        this.listOk=false;
        this.readOk=false;
        this.writeOk=true;
      },
      boardSave:function(title, content){
        var no =1;
        if(this.dataArray['board'].length != 0){
          no = parseInt(this.dataArray['board'][this.dataArray['board'].length - 1].no) +1
          var board_info = {
            no:no,
            title:title,
            content:content,
            view:"1"
          }
        };
        this.dataArray['board'].push(board_info);
        this.writeOk=false;
        this.readOk=false;
        this.listOk = true;
      },
      boardDelete:function(no){
        //해당글 찾아 삭제
        for(var i=0; i<this.dataArray['board'].length; i++){
          if(this.dataArray['board'][i].no ==no)this.dataArray['board'].splice(i,1);
        }
      },
      saveBoardList:function(){
        var data = this.dataArray;

        if(data.length == 0){
          alert('저장할 게시판 내용이 없습니다.')
          return;
        }
        var filename = 'board.json';

        if(typeof data === "object"){
          data = JSON.stringify(data, undefined, 4);
        }

        var blob = new Blob([data], {type:'text/json'}),
        e = document.createEvent('MouseEvents'),
        a = document.createElement('a');

        a.download = filename;
        a.href=window.URL.createObjectURL(blob);
        a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
        e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        a.dispatchEvent(e);
      }
    }
  })
    </script>

    <style>
      .table-row-move {
        transition: 1s;
      }
      .table-row-leave-active {
        transition: 1s;
        transform: translateX(50px)
      }

    </style>
  
</body>
</html>